<div class="outer" *ngIf = 'myblogs'>
    <div class="container article" *ngFor = 'let item of myblogs.blogs;index as i'>
        <div class="examplearticle">
            <div class="card">
            
                <div class="card-body">
                
                  <div class="mydata" [innerHtml]='item.innerhtml'></div>
                  <button class="btn btn-success mybtns" (click)='readmore(item.blogid)'>Read More</button><button class="mybtns btn btn-danger" (click)='deletesavedarticle(item._id)'>Delete</button>
                </div>
                <div class="card-footer">
                  <div class="row justify-content-between">
                    <div class="col-5">{{item.username}}</div>
                    <div class="col-5"> {{item.createdat}}</div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>
    
