.card{
    height: auto;
    margin-top: 50px;
}
.mydata{
    height: 300px;
    overflow: hidden;
}
.publidhbtn{
    display:block;
    width:40%;
    margin:30px auto;
}
.mybtns{
  display: inline-block;
  width: 15%;
    margin-right: 20px;
    margin-top: 50px;
    
}
.card-footer{
    text-align: center;
    font-family: cursive;
    font-style: oblique;
    font-weight: bolder;
    font-size: 18px;
}

