.mydata{
    margin-top: 80px;
    border: 2px solid black;

}
.mydata h2{
    font-family: cursive;
    font-weight: bold;
    font-size: 35px;
    color: rgb(14,14,14);
    text-align: center;
}


.Submit{
    padding: 25px;
    margin:25px auto; 

}
.Submit button{
    display: block;
    margin:10px auto;
    width: 40%;
}
.datainput{
    margin-top: 80px;

}

.angular-editor{
    width: 100%;
    height: auto;
    overflow: hidden;;
}